SECRET_KEY=
JWT_SECRET_KEY=
JWT_TOKEN_LOCATION='cookies'

DATABASE_URL="mysql+pymysql://user:password@localhost/dbname"

RATELIMIT_DEFAULT="200 per day, 50 per hour"

EMAIL_HOST="smtp.example.com"
EMAIL_PORT=587
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_FROM="Project Name <no-reply@example.com>"

LIBRO_ENV="development"
CERT_PATH=""

WEBSITE_URL="http://127.0.0.1:5000"
REDIS_URL="redis://127.0.0.1:6379/0"